{
    "extends": [
        "eslint:recommended",
        "plugin:node/recommended"
    ],
    "env": {
        "browser": true
    },
    "rules": {
        "indent": [
            "error",
            4
        ],
        "semi": [
            "error",
            "always"
        ],
        "node/no-callback-literal": "off"
    }
}